<% include ../partials/header.ejs %>

<div class="container">
    <h1 class="text-center">Create a new campground</h1>
    <div class="row justify-content-center">
        <form action="/campgrounds" method="post" class="col-lg-6 mt-3">
            <div class="form-group">
                <label for="placeName">Name of Campground: </label>
                <input id="placeName" type="text" name="name" placeholder="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="imgurl">Image URL of the Campground: </label>
                <input id="imgurl" type="url" name="image" placeholder="Image URL" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="desc">Description: </label>
                <textarea name="description" id="desc" cols="30" rows="6" class="form-control" placeholder="Campground Description"></textarea>
                <!-- <textarea id="desc" type="textbox" name="description" placeholder="Describe the campground..." class="form-control" required></textarea> -->
            </div>
            <button class="btn btn-success btn-block" type="submit">Add Campground</button>
        </form>
    </div>
</div>

<% include ../partials/footer.ejs %>